WELCOME TO LOGIN FORM. You need to provide your club details here to login. If
you are not registered with us, then ask the admin to register your club for
you or if you are just testing, then go to /clubs and register your club and
then login here.


<%= form_tag(:action => 'login_attempt') do %>
<p>Username or Email:</br> <%= text_field_tag(:username) %></p>
<p>Password:</br> <%= password_field_tag :password %></p>
<%= submit_tag("Log In") %>
<% end %>
